<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Code Analyzer</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <main class="container">
        <h1>Analizador Léxico, Sintáctico y Semántico </h1>
        <form method="post">
            <textarea name="code" rows="10" cols="50"
                placeholder="Ingrese el código aquí...">{{ request.form.code if request.method == 'POST' else '' }}</textarea>
            <br>
            <button type="submit">Analizar código</button>
        </form>
        <div class="results">
            <div class="result_lex">
                <h2>Análisis Léxico:</h2>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Tokens</th>
                            <th>PR</th>
                            <th>ID</th>
                            <th>Números</th>
                            <th>Símbolos</th>
                            <th>Error</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set unique_tokens = [] %}
                        {% for token in for_loop_tokens %}
                        {% set unique_tokens = unique_tokens + [token] %}
                        <tr>
                            <td>{{ token[0] }}</td>
                            <td>{% if token[1] == 'FOR' or token[1] == 'INT' %} X {% endif %}</td>
                            <td>{% if token[1] == 'ID' %} X {% endif %}</td>
                            <td>{% if token[1] == 'NUMBER' %} X {% endif %}</td>
                            <td>{% if token[1] not in ['FOR', 'INT', 'ID', 'NUMBER'] %} X {% endif %}</td>
                            <td>{% if token[1] == 'ERR' %} X {% endif %}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td><strong>Total</strong></td>
                            <td>{{ token_count['PR'] }}</td>
                            <td>{{ token_count['ID'] }}</td>
                            <td>{{ token_count['NUM'] }}</td>
                            <td>{{ token_count['SYM'] }}</td>
                            <td>{{ token_count['ERR'] }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="result_sem">
                <h2>Análisis Sintáctico y Semántico</h2>
                {% if errors %}
                <ul>
                    {% for error in errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </main>

</body>


</html>